
<form class="example-form">
  <mat-form-field class="example-full-width">
  <textarea matInput [(ngModel)]="nombre" type="text" placeholder="nombre" name="nombre"></textarea>
  </mat-form-field>
  <br>
  <mat-form-field class="example-full-width">
  <textarea matInput [(ngModel)]="tipo" type="text" placeholder="tipo" name="tipo"></textarea>
  </mat-form-field>
  <br>
  <mat-form-field class="example-full-width">
  <textarea matInput [(ngModel)]="fechaDeNacimiento" type="text" placeholder="fecha de nac" name="fecha de nac"></textarea>
  </mat-form-field>
  
  
  
  <br>
  <button mat-raised-button color="primary" (click)="GuardarMascota()"> Guardar </button>
</form>
