
<form class="example-form">
  <mat-form-field class="example-full-width">
  <textarea matInput [(ngModel)]="modelo" type="text" placeholder="Modelo" name="modelo"></textarea>
  </mat-form-field>
  <br>
  <mat-form-field class="example-full-width">
  <textarea matInput [(ngModel)]="marca" type="text" placeholder="Marca" name="marca"></textarea>
  </mat-form-field>
  <br>
  <mat-form-field class="example-full-width">
  <textarea matInput [(ngModel)]="cantidadDePuertas" type="text" placeholder="Cantidad de Puertas" name="cantidadDePuertas"></textarea>
  </mat-form-field>
  <br>
  <button mat-raised-button color="primary" (click)="GuardarVehiculo()"> Guardar </button>
</form>
