<div *ngIf="unHelado" >
    Sabor de un solo helado: {{unHelado.Sabor}}
    ID: {{unHelado.id_helado}}
     - SABOR: {{unHelado.Sabor}}
    <img src="assets/imagenes/{{unHelado.id_helado}}.JPG" >
  
  
  </div>




<button (click)="MostrarHeladosComponent()">Te muestro los helados</button>

<button (click)="AltaHelado()">Dar de alta helado</button>

<button (click)="MostrarUnHelado(htmlIdHelado)">Traer 1 helado</button>

<button (click)="LoginHelados(nombre, password)">Conectarse</button>



<input [(ngModel)]="htmlIdHelado" placeholder="ingrese id de helado" name="idHelado" type="text"  style="width:50%"/>

<input [(ngModel)]="nombre" placeholder="nombre" name="nombre" type="text"  style="width:50%"/>

<input [(ngModel)]="password" placeholder="password" name="password" type="text"  style="width:50%"/>




<div *ngIf="mostrarHelados">
  <p *ngFor="let helado of this.listaHelados">
    
    
    ID: {{helado.id_helado}}
     - SABOR: {{helado.Sabor}}
    <img src="assets/imagenes/{{helado.id_helado}}.JPG" >
  </p>







<div>




